
<link rel="stylesheet" href="widgets/splitsys/css/style.css" />
<link rel="stylesheet" href="widgets/splitsys/css/jquery.ibutton.css" />
<script type="text/javascript" src="widgets/splitsys/js/splitsys.js"></script>

<script id="tplSplitsysBtn"
        type="text/ejs"
        class="vis-tpl"
        data-vis-prev='<img style="width:100px; height:150px" src="widgets/splitsys/img/rem_body.png"></img>'
        data-vis-attrs="oid/id;myColor/color;htmlText/text;"
        data-vis-set="splitsys"
        data-vis-type="val"
        data-vis-beta="true"
        data-vis-name="SplitSys">
    <div class="vis-widget <%== this.data.attr('class') %>" style="width:230px; height:210px;" id="<%= this.data.attr('wid') %>" >
        <div class="template-class vis-widget-body <%== this.data.attr('class') %>" style="padding:2px" >
            OID: <%= this.data.attr('oid') %><br>
            OID value: <%== vis.states[this.data.attr('oid') + '.val'] %><br>
			Color: <span style="color: <%= this.data.attr('myColor') %>"><%= this.data.attr('myColor') %></span><br>
			extraAttr: <%== this.data.attr('extraAttr') %><br>
			Browser instance: <%= vis.instance %><br>
			htmlText: <textarea readonly style="width: calc(100% - 10px)"><%== this.data.attr('htmlText') %></textarea><br>
        </div>
    </div>
</script>
